<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style> 
	div {
		height: 900px; 
		margin : 10px; 
		border : 1px solid red ; 
	}
</style>
</head>
<body>
	<h1> anchor Test</h1>
	<hr> 
	
	<a href = "#" id = "answer_1"> 첫 번째 앵커 </a>
	<div> </div>
	<a href = "#" id = "answer_2"> 두 번째 앵커 </a>
	<div> </div>
	<a href = "#" id = "answer_3"> 세 번째 앵커 </a>
	<div> </div>
	<a href = "#" id = "answer_4"> 네 번째 앵커 </a>
	<div> </div>
	<a href = "#" id = "answer_5"> 다섯 번째 앵커 </a>
	<div> </div>

</body>
</html>